.navmenu{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.navmenu > img {
    width: 200px;
    height: 150px;
}
.nav-links{
    display: flex;
    width: 25%;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}
h1{
    text-align: center;
    color: orange;
}
h2{
    color: orange;
}
h3{
    text-decoration: black;
    text-size-adjust: 10px;
   
}

 h5{

    width:100%;
    color: maroon;
    text-align: center;
} 
html{
    background-color: bisque;
}
.projets{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    padding: 5px;
    
}
.projets > img{
    width: 50%;
}
.submit{
    background-color: paleturquoise;
    color: white;
}
#about {
    width:100%;
    color: saddlebrown;
    
}
header{
    position: sticky;
    top: 0;
    background-color: seashell;
}